@using Microsoft.AspNetCore.Identity
@{
    Layout = "~/Views/Shared/_Layout_Admin_Page.cshtml";
}
@model ApplicationUser
@{
    ViewData["Title"] = "Create User";
}
<h3>@ViewData["Title"]</h3>
<form asp-controller="Admin" asp-action="CreateUser" method="post">
    <div class="container">
        <div class="mb-2">
            <label asp-for="Email" class="control-label">Email</label>
            <input asp-for="Email" class="form-control" required />
        </div>
        <div class="mb-2">
            <label asp-for="PasswordHash" class="control-label">Password</label>
            <input asp-for="PasswordHash" class="form-control" pattern="(?=.*[A-Z])(?=.*[!@@#$%^&*])(?=.*[a-zA-Z]).{6,}" 
            title="Mật khẩu phải chứa ít nhất 6 kí tự, bao gồm ít nhất một chữ cái viết hoa và một kí tự đặc biệt" required />
        </div>
        <div class="mb-2">
            <label class="control-label">Role</label>
            <select asp-for="UserRoles" class="form-control" asp-items="ViewBag.Roles">
                <option>--Select Role</option>
            </select>
        </div>
        <div>
            <input type="submit" value="Create" class="btn btn-primary mb-1" />
        </div>
    </div>
</form>